# Байт-компилированные / оптимизированные / DLL файлы
__pycache__/
*.py[трески]
*$py.class
#ПЕРЕСОЗДАЛ ГИТ ИГНОР
# Расширения C
*(с)

# Дистрибуция / упаковка
. Питон
строить/
развивающиеся яйца/
dist/
загрузки/
яйца/
.яйца/
lib/
lib64/
комплектующие/
сдист/
var/
колеса/
*.egg-info/
.установлено.cfg
*.яйцо
ОЧЕВИДНЫЙ

# PyInstaller
# Обычно эти файлы пишутся скриптом Python из шаблона
# до того, как PyInstaller созовит exe, чтобы вставить в него дату/другую информацию.
*.манифест
*.spec

# Журналы установщика
пип-лог.txt
pip-delete-this-directory.txt

# Отчеты о модульных тестах / покрытии
htmlcov/
.tox/
.покрытие
.покрытие.*
.cache
носовые тесты.xml
покрытие.xml
*.обложка
.гипотеза/
.pytest_cache/

# Переводы
*(м)
*.pot

# Материал Django:
*.log
local_settings.py
db.sqlite3

# Колба:
пример/
.webassets-cache

# Скребк:
.скребк

# Документация по Сфинксу
документы/_build/

# ПайБилдер
цель/

# Джупитер Ноутбук
.ipynb_checkpoints

# pyenv
.python-версия

# сельдерей бит график файл
сельдерей-расписание

# Анализируемые файлы SageMath
*.sage.py

# Средах
.env
.venv
env/
венв/
ЭНВ/
env.bak/
венв.bak/

# Настройки проекта Spyder
.spyderproject
.шпионский проект

# Настройки проекта веревки
.канатный проект

# документация mkdocs
/место

# мыпы
.mypy_cache/

. DS_Store
.идея
.try
vscode/
